* {
  font-family: "andika";
}

body {
  margin: 0;
  background: url(../asset/background2.png);
  background-size: contain;
  background-repeat: repeat;
  gap: none;
}

/* Estilo Header */
.layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  color: #e6dd3b;
  font-style: normal;
  line-height: normal;
  background: #6a704c;
  margin-bottom: 4rem;
  height: 100px;
}
.greenPlate {
  font-size: 2.2rem;
  margin-right: auto;
  color: #e6dd3b;
  font-style: italic;
  line-height: 3.5rem;
  text-decoration: none;
  margin-left: 10px;
  line-height: normal;
}

.logoHeader {
  width: 80px;
}

/* Estilo Menúes Desplegables */
.menu,
.reservas,
.resenas {
  padding: 1.2rem;
  font-size: 2.2rem;
  color: #e6dd3b;
  text-decoration: none;
  font-weight: 700;
  line-height: normal;
  margin-top: 2.04rem;
  transition: text-decoration 10s ease-in-out;
  position: relative;
}

/* Estilo Hover */
.menu:hover,
.reservas:hover,
.resenas:hover {
  color: #e6dd3b;
}

/* Estilo Hover de linea */
.menu::before,
.reservas::before,
.resenas::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e6dd3b;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu:hover::before,
.reservas:hover::before,
.resenas:hover::before {
  transform: scaleX(1);
}

.menu:active::before,
.reservas:active::before,
.resenas:active::before {
  transform: scaleX(1);
}

/* Estilo Contenido */
.centrado {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}
.menuabt {
  border-radius: 1.875rem;
  background: #ede1d1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 10rem;
  padding: 1rem;
  width: 100rem;
  height: 15rem;
  margin: 0;
  flex-shrink: 0;
}
.menuabt h3 {
  font-size: 2.5rem;
  margin: 0;
  opacity: 70%;
  margin-bottom: 0.1rem;
  margin-top: 1rem;
}

.menuabt p {
  font-size: 1.5rem;
  margin: 0;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.menu-col-1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  grid-gap: 50px;
  margin-left: 150px;
}
.menu-col-2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 50px;
  margin-right: 150px;
}

/* Estilo Cards */
.menu-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #ede1d1;
  border-radius: 1.875rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25) inset;
  max-height: 100%;
  width: 35.9375rem;
  height: 40.375rem;
  flex-shrink: 0;
}

.img {
  grid-area: 1 / 1 / 2 / 3;
  flex-shrink: 0;
}
.product-name {
  grid-area: 2 / 1 / 3 / 2;
  color: #000;
  font-family: "Andika";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 22.25rem;
  margin-left: 1rem;
}
.product-price {
  grid-area: 2 / 2 / 3 / 3;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: "Andika";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 9.5625rem;
  height: 4rem;
  flex-shrink: 0;
  margin-left: 0.8rem;
}
.product-description {
  grid-area: 3 / 1 / 4 / 3;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Andika";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 32.875rem;
  height: 19.375rem;
  flex-shrink: 0;
  margin-left: 1.2rem;
}
