<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
    <link
      rel="icon"
      href="../static/asset/green-plate-favicon-color.png"
      type="image/x-icon"
    />
</head>
<body>
    <div class="layout">
        <img
          class="logoHeader"
          src="../static/asset/green-plate-favicon-color.png"
          alt="Logo Green Plate"
        />
        <h2 class="greenPlate">
          <a class="greenPlate" href="{{url_for('index')}}">Green Plate</a>
        </h2>
        <h2 class="menu"><a href="{{url_for('menu')}}" class="menu">Menú</a></h2>
        <h2 class="reservas">
          <a href="{{url_for('reservas')}}" class="reservas">Reservas</a>
        </h2>
        <h2 class="resenas">
          <a href="{{url_for('resenas')}}" class="resenas">Reseñas</a>
        </h2>
      </div>
    <div class="container">
        <h1>Hola, {{current_user.username}}. </h1>
        <h2>Ya sos parte del Vegan Club!</h2>
        <h3>Disfrutá de nuestros beneficios exclusivos para vos.</h3>
    </div>
</body>
</html>