/* Estilo General */
* {
  font-family: "andika";
}

body {
  margin: 0;
}

/* Estilo Body (Centrado al background) */
.index {
  background: url(/asset/f7df6bce3f522d7ae7c47d14a48e9a98.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

/* Estilo Header */
.layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  color: #e6dd3b;
  font-style: normal;
  line-height: normal;
  background: #6a704c;
  margin-bottom: 4rem;
  height: 100px;
}
.greenPlate {
  font-size: 2.2rem;
  margin-right: auto;
  color: #e6dd3b;
  font-style: italic;
  line-height: 3.5rem;
  text-decoration: none;
  margin-left: 10px;
  line-height: normal;
}

.logoHeader {
  width: 80px;
}

/* Estilo Menúes Desplegables */
.menu,
.reservas,
.resenas {
  padding: 1.2rem;
  font-size: 2.2rem;
  color: #e6dd3b;
  text-decoration: none;
  font-weight: 700;
  line-height: normal;
  margin-top: 2.04rem;
  transition: text-decoration 10s ease-in-out;
  position: relative;
}

/* Estilo Hover */
.menu:hover,
.reservas:hover,
.resenas:hover {
  color: #e6dd3b;
}

/* Estilo Hover de linea */
.menu::before,
.reservas::before,
.resenas::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e6dd3b;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu:hover::before,
.reservas:hover::before,
.resenas:hover::before {
  transform: scaleX(1);
}

.menu:active::before,
.reservas:active::before,
.resenas:active::before {
  transform: scaleX(1);
}

/* Estilo Logo + Botón */
.logo-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  position: relative;
  row-gap: 5rem;
}

/* Estilo Botón */
button {
  display: flex;
  width: 15.4375rem;
  height: 5.125rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 2.1875rem;
  background: linear-gradient(180deg, #1e6f5c 0%, #32a164 96.87%);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(249, 247, 243, 0.25);
  color: #e6dd3b;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  line-height: 2.25rem;
  margin: auto;
  cursor: pointer;
}

/* Animación Botón */
button:hover {
  animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
